<div class="k-d-flex">
  <aside class="k-w-2/6">
    <button kendoButton (click)="createNewConversation()" class="new-conversation-btn">
      New Conversation
    </button>
    <app-conversations-list
      (conversationUpdated)="updateConversation($event)"
      (conversationDeleted)="deleteConversation($event)"
      [(conversationSelected)]="currentConversation"
      [(conversations)]="conversations"
    ></app-conversations-list>
  </aside>

  @if (currentConversation().active) {
    <div class="k-flex-1">
      <h2 class="k-text-center">{{ currentConversation().name }}</h2>
      <kendo-chat
        [user]="defaultUser"
        [messages]="currentConversation().messages"
        (sendMessage)="updateMessage($event)"
        width="450px"
      >
        <ng-template kendoChatMessageTemplate let-message>
          <div>
            {{ message.text }}
            {{ message.avatar }}
          </div>
        </ng-template>
      </kendo-chat>
    </div>
  }

</div>
